.carousel {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
  max-width: 600px;
  height: 440px;
  margin: 25px;

  .images {
    position: relative;
    display: block;

    img {
      display: inline-block;
      position: absolute;
      z-index: -10;
      width: 100%;
      height: 400px;
      object-fit: cover;

      &.active {
        z-index: 10;
      }
    }
  }

  .carousel__navLeft,
  .carousel__navRight {
    display: block;
    position: absolute;
    z-index: 9999;
    bottom: 0;
    background-color: white;
    border: 2px solid black;
    padding: 16px 24px;
    cursor: pointer;

    transition: ease-in 0.1s;

    &:hover {
      background-color: black;
      color: white;
    }
  }

  .carousel__navRight {
    right: 0;
  }
}